body {
	text-align: center;
}
h1,h2,h3,h4 {
	text-align: center;
	font-weight: 600;
}
p {
	text-align: center;
}
ul,li {
	text-align: center;
}
.logo_uas {
	display: block;
	margin: 0 auto;
	width: 90%;
}
img {
	width: 100%;
}
.text_center {
	text-align: center;
}
.text_left {
	text-align: left;
}
.text_right {
	text-align: right;
}
.margen_interior {
	padding: 30px;
}
#top {
	background-color: var(--bs-blue);
	font-weight: bold;
	padding: 5px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}
.logo_antiguo {
	width: 70%;
}
.parrafo_top {
	font-size: 90%;
	font-weight: 500;
}
.texto_grande {
	font-weight: bold;
	font-size: 50px;
	text-align: center;	
}
.borde {
	border: 1px solid;
}
.linea {
	margin: 0 auto;
}
#imagenes_top {
	margin-top: 100px;
}
#imagenes_top .col {
	border: 0;
}


 .col {
  border: 1px solid #c9c9c9;
}

 .col:not(:last-child) {
  border-right-width: 0;
}

 .row:not(:last-child) .col {
  border-bottom-width: 0;
}