body {

}
h1,h2,h3,h4 {
	text-align: center;
	font-weight: 600;
}
p {
	text-align: center;
}
ul,li {
	text-align: center;
}
.logo_uas {
	display: block;
	margin: 0 auto;
	width: 90%;
}
img {
	width: 100%;
}
#top {
	background-color: var(--bs-blue);
	font-weight: bold;
	padding: 5px;
}
.logo_antiguo {
	width: 70%;
}
.parrafo_top {
	font-size: 10px;
}
.texto_grande {
	font-weight: bold;
	font-size: 50px;
	text-align: center;	
}